*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}

.grill_container{
    height: 500px;
    width: 500px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: rgba(100, 100, 100, .5);
    border: 1px solid blue;
    display: inline-block;
}

.box_on{
    background-color: yellowgreen;
}

