*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 107, 163);
    height: 90vh;
}

.grill_container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_on{
    background-color: rgb(50, 200, 205);
    color: white;
}

